{% extends base %}{% load i18n %}{% load auth %}

{% block title %} {% blocktrans with the_user.first_name as escaped %}Change password of {{ escaped }}{% endblocktrans %} {% endblock %}
{% block header %} {% blocktrans with the_user.first_name as escaped %}Change password of {{ escaped }}{% endblocktrans %} {% endblock %}

{% block content %}
<a href="{{ the_user.get_absolute_url }}settings/" id="id_settings" class="button">{{ _("Settings") }}</a>
<a href="{{ the_user.get_absolute_url }}edit/" id="id_edit_details" class="button">{{ _("Edit details") }}</a>
{% if errors %}
	{% for error in errors %}
		{{ error }}
	{% endfor %}
	{{ errors }}
{% endif %}
<form method="post" enctype="multipart/form-data">{% csrf_token %}
	<table>
		{% include "form.html" %}<br />
	</table>
	<input type="submit" value="{{ _("Save") }}" />
</form>

{% endblock %}

