{% load i18n %}{% load auth %}
{% if not disable_login_box %}
{% if community %}
{% if login_form %}
{% if user.is_anonymous or is_homepage_admin or not is_member %}
<style>
#login_box
{
    border: 0;
    padding: 0;
    margin: 0;
    cell-padding: 0;
    position: relative;
}

#login_box th
{
    display: none;
}

#login_box label
{
    display: none;
}


#id_password, #id_username
{
    width: 110px;
}

#id_forgot_password
{
    font-size: 12px;
}

#login_box .errorlist {
    list-style: none;
    position: absolute;
    line-height: 22px;
    left: 140px;
    font-size: 12px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
</style>

<form method="post" action="/login/">{% csrf_token %}
	{{ errors }}
    <div id="login_box">
        <table>
            <tr><td><input id="id_username" name="username" {% if login_form.username.data %}value="{{ login_form.username.data }}{% endif %}" default_value="{{ login_form.username.label }}" type="text" />{{ login_form.username.errors }}</td></tr>
            <tr><td><input id="id_password" name="password" {% if login_form.password.data %}value="{{ login_form.password.data }}{% endif %}" default_value="{{ login_form.password.label }}" type="password" /> {{ login_form.password.errors }}</td></tr>
            <tr>
                <th></th>
                <td>
                    <input type="submit" class="button" value="{{ _("Log in") }}" />
                </td>
            </tr>
            <tr><th></th><td><a id="id_forgot_password" href='/registration/request_new_password/'>{{ _("Forgot your password?") }}</a></td></tr>
            {% ifequal settings.REGISTRATION_SYSTEM "register" %}
            <tr><td>&nbsp;</td></tr>
            <tr><th></th><td><a id="id_forgot_password" href='/registration/'>{{ _("Register for an account") }}</a></td></tr>
            {% endifequal %}
        </table>
    </div>
    <input type="hidden" name="next" value="{{ next}}" />
</form>

{% else %}
    <h2>{% blocktrans %}You are logged in as {{ user }}{% endblocktrans %}</h2>
    <ul class="menu">
        <li><a href="http://community.{{ domain }}">{{_("Go to the portal")}}</a></li>
        <li><a href="/logout/">{{_("Log out")}}</a></li>
    </ul>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
