{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <style type="text/css">
        textarea
        {
            height: 300px;
            width: 100%;
        }
    </style>
    
    <div id="id_post_data">
        <div class="content">
            {% blocktrans %}
                To import data into Mammon:
                <ol>
                    <li>Log in to your bank</li>
                    <li>Go to your transaction history</li>
                    <li>Select all ({{ command_button }}+A)</li>
                    <li>Copy ({{ command_button }}+C)</li>
                    <li>Come back to this page, click in the text field below and paste ({{ command_button }}+V)</li>
                    <li>Click the Import Transactions button</li>
                </ol>
                Mammon will automatically figure out what parts of what it gets is relevant. It might ask you some questions when it gets confused, but it will remember that till next time so that will only happen when something changes.
            {% endblocktrans %}
        </div>

        <p>
            <button id="id_import" class="button">{% trans "Import transactions" %}</button>
        </p>

        <div class="content">
            <textarea id="id_data" rows="10" cols="40" name="data"></textarea>
        </div>
    </div>
    <span id="id_spinner" style="display: none">Processing...</span>

	<script type="text/javascript">
        $(document).ready(function(){
            $('#id_data').focus();
            $('#id_import').click(function(){
                $('#id_post_data').hide();
                $('#id_spinner').show();
                $.ajax({
                    url: '/add/',
                    data: {data: $('#id_data').val()},
                    success: function (data, textStatus, jqXHR) {
                        if (data == 'redirect_home') {
                            document.location = '/';
                        }
                        else {
                            $('#id_spinner').hide();
                            $('#body').html(data);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $('body').html(jqXHR.response);
                    },
                    type: 'POST'
                });
            });
        });

	</script>
{% endblock %}