{% load i18n %}{% load auth %}
<div id="id_all_like_this_dialog">
    <p style="font-size: 16px;">
        {% trans "Category" %}: <span id="id_select_category">{{ category }}</span><br />
        {% if account %}
            {% trans "Account" %}: <span id="id_select_account">{{ account }}</span>
        {% endif %}
    </p>

    <div style="white-space: nowrap">
        {{ description_spans }}
    </div>

    <span id="start_marker">&#x21A6;</span>
    <span id="end_marker">&#x21A4;</span>

    <div style="font-size: 12px; padding-top: 40px">
        {% blocktrans %}
            Press S to select the starting marker<br />
            Press E to select the ending marker<br />
            Hold down shift to move just one character at a time
        {% endblocktrans %}
    </div>

</div>