{% extends "base.html" %}
{% load i18n %}{% load auth %}

{% block content %}

    <p>{% trans "Type the category name you want in the input field next to the description and hit enter to apply." %}</p>

    <a href="/" class="button">I'm done, the rest should be handled on a case by case basis</a>

    <h3>{% blocktrans %}{{ percent_done }}% of all transactions are categorized{% endblocktrans %}</h3>

    <p></p>

    {% if foo %}

        <table>
            <thead>
            <tr>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Count" %}</th>
                <th>{% trans "Category" %}</th>
            </tr>
            </thead>

            <tbody>
            {% for description, count in foo %}
                <tr>
                    <td class="description">{{ description }}</td>
                    <td>{{ count }}</td>
                    <td><input type="text"/></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        {% blocktrans %}There are only transactions with unique descriptions left{% endblocktrans %}
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $($('input')[0]).focus();
            var inputs = $("input");
            inputs.inlineComplete({terms: [{% for category in categories %}"{{ category|escapejs }}"{% if not forloop.last %}, {% endif %}{% endfor %}]});
            inputs.keydown(function (e) {
                if (e.keyCode == 13) {
                    // TODO:
                    var category = $(e.target).val();
                    var description = $(e.target).parent().parent().find('.description').html();
                    $.ajax({
                        url: '.',
                        type: 'POST',
                        data: {
                            category: category,
                            description: description
                        },
                        success: function() {
                            window.history.go(0);
                        }
                    });
                }
            });
        });
    </script>

{% endblock %}