{% extends "base.html" %}
{% load i18n %}{% load auth %}

{% block content %}

    <p>{% trans "Type the category name you want in the input field next to the description and hit enter to apply." %}</p>

    <a href="/" class="button">I'm done, the rest should be handled on a case by case basis</a>

    <h3>{% blocktrans %}{{ percent_done }}% of all transactions are categorized{% endblocktrans %}</h3>

    <p></p>

    {% if foo %}
        <form method="post">{% csrf_token %}
            <table>
                <thead>
                <tr>
                    <th>{% trans "Description" %}</th>
                    <th>{% trans "Count" %}</th>
                    <th>{% trans "Category" %}</th>
                </tr>
                </thead>

                <tbody>
                {% for description, count in foo %}
                    <tr>
                        <td class="description">{{ description }}</td>
                        <td>{{ count }}</td>
                        <td><input type="text" autocomplete="off"  name="{{ description }}"/></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button>{% trans "submit" %}</button>
        </form>
    {% else %}
        {% blocktrans %}There are only transactions with unique descriptions left{% endblocktrans %}
    {% endif %}

    <script type="text/javascript">
        $(document).ready(function() {
            $($('input[type="text"]')[0]).focus();
            var inputs = $("input");
            inputs.inlineComplete({terms: [{% for category in categories %}"{{ category|escapejs }}"{% if not forloop.last %}, {% endif %}{% endfor %}]});
            $('form input').keydown(function (e) {
                if (e.keyCode === 13) {
                    $('form button').click();
                }
            });
        });
    </script>

{% endblock %}
