{% load i18n %}{% load auth %}

    {% if not categories %}

        <p>
            {% blocktrans %}Now let's take care of the most common transactions. This is a list of the transactions where the description field occurs more than once.{% endblocktrans %}
        </p>

        <a href="/getting_started/" class="button">Let's do it!</a>


    {% elif table.data.exists %}
        <p>
            {% blocktrans %}You can now look at your <a href="/history/">overview</a>. To really get results in the <a href="/summary/month/">month</a> and <a href="/summary/year/">year</a> views, it's best to classify everything. Here goes:{% endblocktrans %}
        </p>


        {% trans "Uncategorized transactions" %}: <span id="id_unmatched_count">{{ unmatched_count }}</span><br />

        {% include "tri_table/list.html" %}

        <div id="id_classification_bar_bottom_space"></div>

        <div id="id_classification_bar">
            <button id="id_next" class="button" onclick="transaction_marker_up()">{% trans "Next" %} <span class="hotkey">{{ ctrl_label }}K</span></button>
            <button id="id_prev" class="button" onclick="transaction_marker_down()">{% trans "Previous" %} <span class="hotkey">{{ ctrl_label }}J</span></button>

            <label for="id_select_category">{% trans "Category" %}:</label> <input id="id_select_category" type="text"/>
            {% ifnotequal accounts|length 0 %}
                <label for="id_select_account">{% trans "Account" %}:</label> <input id="id_select_account" type="text"/>
            {% endifnotequal %}
            <br />

            <button id="id_only_this" class="button" onclick="only_this()">{% blocktrans %}Only this{% endblocktrans %} <span class="hotkey">{{ enter_label }}</span></button>
            <button id="id_all_like_this" class="button" onclick="all_like_this()">{% blocktrans %}All like this{% endblocktrans %} <span class="hotkey">{{ ctrl_label }}{{ enter_label }}</span></button>
            <button id="id_delete" class="button" onclick="delete_transaction()">{% trans "Delete" %} <span class="hotkey">{{ ctrl_label }}D</span></button>
            <button id="id_split" class="button" onclick="split_transaction()">{% trans "Split" %} <span class="hotkey">{{ ctrl_label }}S</span></button>
        </div>

    {% else %}
        {% if last_transaction %}
            {% trans "All transactions have been classified" %}
            <p ></p>
            <div style="font-size: 80%; padding-top: 20px">
                {% trans "Latest transaction" %}: {{ last_transaction.date|relative_date }}
            </div>
        {% else %}
            {% blocktrans %}Welcome to Mammon! Let's get started. First you'll need to import your transaction history from your bank and set the latest date you receive your salary. In Sweden that's the 25:th. This date is used to cut the months into reasonable parts.{% endblocktrans %}

            {% blocktrans %}Go to <a href="/settings/">Settings</a> to change the financial month start date.{% endblocktrans %}
            {% blocktrans %}Go to <a href="/add/">Add Transactions</a> to add some data.{% endblocktrans %}
        {% endif %}
    {% endif %}

    <script type="text/javascript">
        function only_this() {
            var category = $('#id_select_category').val();
            var account = $('#id_select_account').val();
            if (!category) {
                window.setTimeout(function (){
                    $('#id_select_category').focus();
                }, 100);
                return;
            }

            var id = $('.row_marker').data('pk');
            if (_.indexOf(category_terms, category) == -1) {
                category_terms.push(category);
            }
            if (_.indexOf(account_terms, account) == -1) {
                account_terms.push(account);
            }
            init_autocomplete();
            $.ajax({
                url: '/transactions/'+id+'/edit/properties/',
                type: 'POST',
                data: {
                    category: category,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    account: account
                },
                success: function() {
                    transaction_marker_down();
                    $('[data-pk='+id+']').remove();
                    $('#id_select_category').val('');
                    $('#id_select_account').val('');
                    $('#id_unmatched_count').html(parseInt($('#id_unmatched_count').html()) - 1);
                    window.setTimeout(function() {
                        // Hack to get around that somehow inlinecomplete seems to be screwing with focus
                        $('#id_select_category').focus();
                    }, 100);
                }
            });
        }
        function after_dialog_closed() {
            $('.ui-dialog').remove();
            $('#id_all_like_this_dialog').remove();
            $('#id_select_account').val('');
            $('#id_select_category').val('').focus();
        }
        function all_like_this() {
            var category = $('#id_select_category').val();
            if (!category) {
                window.setTimeout(function (){
                    $('#id_select_category').focus();
                }, 100);
                return;
            }

            var id = $('.row_marker').data('pk');
            $.ajax({
                url:'/transactions/'+id+'/all_like_this/',
                type: 'GET',
                data: {
                    category: category,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    account: $('#id_select_account').val()
                },
                success: function(text) {
                    var buttons = {};
                    buttons[gettext("Cancel")] = function() { $(this).dialog("close"); };
                    buttons[gettext("Save")] = function() {
                        $.ajax({
                            url: '/transactions/'+id+'/all_like_this/',
                            type: 'POST',
                            data: {
                                csrfmiddlewaretoken: '{{ csrf_token }}',
                                start_index: $('.start_sub_mark').attr('index'),
                                end_index: $('.end_sub_mark').attr('index'),
                                category: $('#id_select_category').val(),
                                account: $('#id_select_account').val()
                            },
                            success: function() {
                                document.location.reload();
                            }
                        });
                    };
                    $(text).dialog({
                        buttons: buttons,
                        width: 800,
                        height: 400,
                        close: function () {
                            after_dialog_closed();
                        }
                    });
                    $('.ui-dialog').css({position: 'fixed', top: 20, left: 3, width: '99%'});
                    setup_all_like_this();
                }
            });
        }
        {% if table.data.exists %}
        var category_terms = [{% for category in categories %}"{{ category|escapejs }}",{% endfor %}];
        var account_terms = [{% for account in accounts %}"{{ account|escapejs }}",{% endfor %}];
        function init_autocomplete() {
            $("#id_select_category").inlineComplete({terms: category_terms});
            $("#id_select_account").inlineComplete({terms: account_terms});
        }
        $(document).ready(function() {
            init_autocomplete();
            $('#id_select_category').focus();

            function update_row_markers() {
                var pos = $('.row_marker').offset();
                $('#id_row_marker_left').css({
                    position: "absolute",
                    marginLeft: 0,
                    marginTop: 0,
                    top: pos.top,
                    left: pos.left-$('#id_row_marker_left').width()-4,
                    zIndex: -100
                });
            }

            $($('#transaction_list').find('tbody').find('tr')[0]).addClass('row_marker');
            $('.row_marker').intoViewport();
            update_row_markers();
            $('#id_row_marker_left').show();

            $('button').click(function() {
                $('#id_select_category').focus();
            });

            $(document).keydown(function(e) {
                if (!e.ctrlKey) {
                    return;
                }
                var rows = $('#transaction_list').find('tr');
                var pos = rows.index($('.row_marker'));


                switch (e.keyCode) {
                    case 'K'.charCodeAt(0): // up
                        transaction_marker_up();
                        e.preventDefault();
                        break;
                    case 'J'.charCodeAt(0): // down
                        transaction_marker_down();
                        e.preventDefault();
                        break;
                    case 'D'.charCodeAt(0): // delete
                        delete_transaction();
                        e.preventDefault();
                        break;
                    case 'S'.charCodeAt(0): // split
                        split_transaction();
                        e.preventDefault();
                        break;
                    default:
                        break;
                }
                return true;
            });

            $('input').keydown(function(e){
                var transaction_id = $('.row_marker').data('pk');
                switch (e.keyCode) {
                    case 13: // (enter key)
                        if (e.ctrlKey) {
                            all_like_this();
                        }
                        else {
                            only_this();
                        }
                        e.preventDefault();
                        break;
                    default:
                        break;
                }
                return true;
            });
        });
        {% endif %}
    </script>
