{% extends 'base.html' %}
{% load i18n %}{% load auth %}

{% block body_id %}{% if transactions %}id_classification_page{% endif %}{% endblock %}

{% block content %}
    {% if transactions %}
        {% trans "Uncategorized transactions" %}: {{ unmatched_count }}<br />
    
        {% include "money/transaction_list.html" with hide_commands="True" hide_classification="True" %}

        <div id="id_classification_bar_bottom_space"></div>

        <div id="id_classification_bar">
            <button id="id_next" class="button" onclick="transaction_marker_up()">{% trans "Next" %} <span class="hotkey">{{ ctrl_label }}K</span></button>
            <button id="id_prev" class="button" onclick="transaction_marker_down()">{% trans "Previous" %} <span class="hotkey">{{ ctrl_label }}J</span></button>

            <label for="id_category">{% trans "Category" %}:</label> <input id="id_category" type="text"/>
            {% ifnotequal accounts|length 0 %}
                <label for="id_account">{% trans "Account" %}:</label> <input id="id_account" type="text"/>
            {% endifnotequal %}
            <br />

            <button id="id_only_this" class="button" onclick="only_this()">{% blocktrans %}Only this{% endblocktrans %} <span class="hotkey">{{ enter_label }}</span></button>
            <button id="id_all_like_this" class="button" onclick="all_like_this()">{% blocktrans %}All like this{% endblocktrans %} <span class="hotkey">{{ ctrl_label }}{{ enter_label }}</span></button>
            <button id="id_delete" class="button" onclick="delete_transaction()">{% trans "Delete" %} <span class="hotkey">{{ ctrl_label }}D</span></button>
            <button id="id_split" class="button" onclick="split_transaction()">{% trans "Split" %} <span class="hotkey">{{ ctrl_label }}S</span></button>
        </div>
        
    {% else %}
        {% if last_transaction %}
            {% trans "All transactions have been classified" %}
            <p ></p>
            <div style="font-size: 80%; padding-top: 20px">
                {% trans "Latest transaction" %}: {{ last_transaction.time|relative_date }} 
            </div>
        {% else %}
            {% blocktrans %}No transactions added. Go to <a href="/add/">Add Transactions</a> to add some data.{% endblocktrans %}
        {% endif %}
    {% endif %}

    <script>
        function only_this() {
            if (!$('#id_category').val()) {
                window.setTimeout(function (){
                    $('#id_category').focus();
                }, 100);
                return;
            }

            var id = $('.row_marker').attr('transaction_id');
            // TODO: add $('#id_category').val() to autocomplete list
            // TODO: add $('#id_account').val() to autocomplete list
            $.ajax({
                url: '/transactions/'+id+'/edit/properties/',
                type: 'POST',
                data: {
                    category: $('#id_category').val(),
                    account: $('#id_account').val()
                },
                success: function() {
                    transaction_marker_up();
                    $('[transaction_id='+id+']').remove();
                    $('#id_category').val('');
                    $('#id_account').val('');
                    window.setTimeout(function() {
                        // Hack to get around that somehow inlinecomplete seems to be screwing with focus
                        $('#id_category').focus();
                    }, 100);
                }
            });
        }
        function after_dialog_closed() {
            $('.ui-dialog').remove();
            $('#id_all_like_this_dialog').remove();
            $('#id_category').val('');
            $('#id_account').val('');
            $('#id_category').focus();
        }
        function all_like_this() {
            if (!$('#id_category').val()) {
                window.setTimeout(function (){
                    $('#id_category').focus();
                }, 100);
                return;
            }

            var id = $('.row_marker').attr('transaction_id');
            $.ajax({
                url:'/transactions/'+id+'/all_like_this/',
                type: 'GET',
                data: {
                    category: $('#id_category').val(),
                    account: $('#id_account').val()
                },
                success: function(text) {
                    var buttons = {};
                    buttons[gettext("Cancel")] = function() { $(this).dialog("close"); };
                    buttons[gettext("Save")] = function() {
                        $.ajax({
                            url: '/transactions/'+id+'/all_like_this/',
                            type: 'POST',
                            data: {
                                start_index: $('.start_sub_mark').attr('index'),
                                end_index: $('.end_sub_mark').attr('index'),
                                category: $('#id_category').val(),
                                account: $('#id_account').val()
                            },
                            success: function() {
                                document.location.reload();
                            }
                        });
                    };
                    $(text).dialog({
                        buttons: buttons,
                        width: 800,
                        height: 400,
                        close: function () {
                            after_dialog_closed();
                        }
                    });
                    $('.ui-dialog').css({position: 'fixed', top: 20, left: 3, width: '99%'});
                    setup_all_like_this();
                }
            });
        }
        {% if transactions %}
        $(document).ready(function() {
            $('#id_category').focus();
            $("#id_category").inlineComplete({terms: [{% for category in categories %}"{{ category|escapejs }}",{% endfor %}]});
            $("#id_account").inlineComplete({terms: [{% for account in accounts %}"{{ account|escapejs }}",{% endfor %}]});

            function update_row_markers() {
                var pos = $('.row_marker').offset();
                $('#id_row_marker_left').css({
                    position: "absolute",
                    marginLeft: 0,
                    marginTop: 0,
                    top: pos.top,
                    left: pos.left-$('#id_row_marker_left').width()-4,
                    zIndex: -100
                });
            }

            $($('#transaction_list').find('tr')[$('#transaction_list').find('tr').length-1]).addClass('row_marker');
            $('.row_marker').intoViewport();
            update_row_markers();
            $('#id_row_marker_left').show();
            
            $('button').click(function() {
                $('#id_category').focus();
            });

            $(document).keydown(function(e) {
                if (!e.ctrlKey) {
                    return;
                }
                var rows = $('#transaction_list').find('tr');
                var pos = rows.index($('.row_marker'));


                switch (e.keyCode) {
                    case 'K'.charCodeAt(0): // up
                        transaction_marker_up();
                        e.preventDefault();
                        break;
                    case 'J'.charCodeAt(0): // down
                        transaction_marker_down();
                        e.preventDefault();
                        break;
                    case 'D'.charCodeAt(0): // delete
                        delete_transaction();
                        e.preventDefault();
                        break;
                    case 'S'.charCodeAt(0): // split
                        split_transaction();
                        e.preventDefault();
                        break;
                    default:
                        break;
                }
                return true;
            });

            $('input').keydown(function(e){
                var transaction_id = $('.row_marker').attr('transaction_id');
                switch (e.keyCode) {
                    case 13: // (enter key)
                        if (e.ctrlKey) {
                            all_like_this();
                        }
                        else {
                            only_this();
                        }
                        e.preventDefault();
                        break;
                    default:
                        break;
                }
                return true;
            });
        });
        {% endif %}
    </script>
{% endblock %}