{% load i18n %}{% load auth %}

{% if transactions %}
    <table id="transaction_list">
		<thead>
	        <tr class="header">
	            <th>{% trans "Date" %}</th>
	            <th>{% trans "Description" %}</th>
                <th class="amount">{% trans "Amount" %}</th>
                <th class="unsplit"></th>
                {% if not hide_classification %}
                    <th>{% trans "Category" %}</th>
                    {% ifnotequal accounts|length 0 %}
                        <th>{% trans "Account" %}</th>
                    {% endifnotequal %}
                {% endif %}
	        </tr>
		</thead>
        {% for transaction in transactions %}
            <tr class="category_{{ transaction.category.id }}" transaction_id="{{ transaction.id }}">
                <td class="time"><span class="inline_editable" edit_url="/transactions/{{ transaction.id }}/edit/date/" id="{{ transaction.id }}">{{ transaction.time|date:"Y-m-d" }}</span></td>
                <td class="description"><span class="inline_editable" edit_url="/transactions/{{ transaction.id }}/edit/description/" id="{{ transaction.id }}">{{ transaction.description }}</span></td>
                <td class="amount">{{ transaction.amount|floatformat:2 }}</td>
                <td class="unsplit" onclick="unsplit_transaction({{ transaction.id }})">{% if transaction.virtual %}<i class="fa fa-share-alt" title="{% trans "From a split transaction. Click to unsplit." %}"></i>{% endif %}</td>
                {% if not hide_classification %}
                    <td class="category">
                        <select class="inline_editable_select" name="transaction_category_{{ transaction.id }}" edit_url="/transactions/{{ transaction.id }}/edit/category/">
                            <option value=""></option>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% ifequal transaction.category category %}selected="selected"{% endifequal %}>{{ category }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    {% ifnotequal accounts|length 0 %}
                        <td class="account">
                            <select class="inline_editable_select" name="transaction_account_{{ transaction.id }}" edit_url="/transactions/{{ transaction.id }}/edit/account/">
                                <option value=""></option>
                                {% for account in accounts %}
                                    <option value="{{ account.id }}" {% ifequal transaction.account account %}selected="selected"{% endifequal %}>{{ account }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    {% endifnotequal %}
                {% endif %}
                {% if not hide_commands %}
                    <td class="split"><span title="{% trans "Split" %}" onClick="split_transaction({{ transaction.id }})" class="inline-button"><i class="fa fa-share-alt"></i></span></td>
                    <td class="delete"><span title="{% trans "Delete" %}" onClick="delete_transaction({{ transaction.id }}, true)" class="inline-button"><i class="fa fa-trash"></i></span></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% digg_paginator %}

    {% if sum %}
        <div>{% trans "Sum" %}: {{ sum }}</div>
    {% endif %}

{% else %}
	{% trans "No transactions" %}
{% endif %}