{% extends 'base.html' %}
{% load i18n %}{% load auth %}

{% block content %}
    <script type="text/javascript">
        function delete_group(id)
        {
            $('<div>{{ confirm_delete_message }}</div>').dialog({
                buttons: {
                    '{{ _("Cancel") }}': function() { $(this).dialog("close"); },
                    '{{ _("Delete") }}': function() {window.location = '{{ base_url }}delete/?next='+window.location;}
                }
            });
        }
    </script>

    <div>
        <span class="button" onClick="delete_group({{ group.id }})"><i class="fa fa-trash"></i> {{ delete_message }}</span>
    </div>

    <p></p>

    <form method="post">{% csrf_token %}
        <table class="form">
            {{ form }}
            <tr><td></td><td><input type="submit" value="{% trans "Save" %}" class="button"/></td></tr>
        </table>
    </form>
    
    <script>
        $(window).load(function() {
            $('#id_matching_rules').keyup(highlight);
            highlight();
        });
    </script>
{% endblock %}
