{% extends 'base.html' %}
{% load i18n %}{% load auth %}

{% block extra_head %}

    <link rel="prefetch" href="/summary/{{ period }}/{{ previous_year }}/{% if period == "month" %}{{ previous_month }}/{% endif %}" >
    {% if next_period %}
        <link rel="prefetch" href="/summary/{{ period }}/{{ next_year }}/{% if period == "month" %}{{ next_month }}/{% endif %}">
    {% endif %}

{% endblock %}

{% block content %}
	<script type="text/javascript">
		$(document).ready(function() {
			$('#change').click(function() {
				var url = '/summary/{{ period }}/' + $('#year').val() + '/';
				{% if period == "month" %}
					url += $('#month').val() + '/';
				{% endif %}
				window.location = url;
				return false;
			});
		});
	</script>
	
    <div>
    
    <a href="/summary/{{ period }}/{{ previous_year }}/{% if period == "month" %}{{ previous_month }}/{% endif %}" class="link-button"><i class="fa fa-chevron-circle-left"></i> {% trans "Previous period" %}</a>
    {% if next_period %}<a href="/summary/{{ period }}/{{ next_year }}/{% if period == "month" %}{{ next_month }}/{% endif %}" class="link-button">{% trans "Next period" %} <i class="fa fa-chevron-circle-right"></i></a>{% endif %}
    
    </div>

    <p></p>

    <form action=".">
        <label for="year">{% trans "Period" %}:</label>
        <input id="year" name="year" value="{{ year }}" />
		{% if period == "month" %}
        	<input id="month" name="month" value="{{ month }}" />
		{% endif %}
        <button class="button" id="change">{% trans "Go to" %}</button>

        <div class="start-to-end-time">
            {{ start_time|date:"Y-m-d" }} - {{ end_time|date:"Y-m-d" }}
        </div>
    </form>

	{% if transactions %}
	<table style="margin-top: 10px;">
		<thead>
			<tr>
				<th>{% trans "Category" %}</th>
				<th class="amount">{% trans "Sum" %}</th>
				<th></th>
				{% if period == "year" %}
					<th class="amount">{% trans "Monthly average" %}</th>
                    <th class="amount">{% trans "Standard deviation" %}</th>
				{% endif %}
			</tr>
		</thead>
    	{% for account, categories in summary.items %}
			{% if account.name != " default" %}
				<tr><td colspan="5">&nbsp;</td></tr>
				<tr>
					<td colspan="5"><h3 style="text-align:center; margin: 4px;">{{ account }}</h3></td>
				</tr>
			{% endif %}
			{% for category, d in categories %}
	            {% if d.sum %}
	                <tr class="category_id_{{ category.id }} category_period_{{ category.period }}_month">
	                    <td>
                            <a href="/transactions/?query=category%3D{{ category }}%20and%20date>%3D{{ start_time|date:"Y-m-d" }}%20and%20date<%3D{{ end_time|date:"Y-m-d" }}{% if account.id %}%20and%20account%3D{{ account }}{% endif %}">
                                {{ category }}
                            </a>
                        </td>
	                    <td class="amount">{{ d.sum|floatformat:2 }}</td>
	                    <td>
	                        <div style="width: {{ d.severity|multiply:200|add:2 }}px;" class="{% if d.sum|is_negative %}loss{% else %}gain{% endif %}">&nbsp;</div>
	                    </td>
						{% if period == "year" %}
							<td class="amount">{{ d.sum|divide:monthly_average_divisor|floatformat:2 }}</td>
                            <td class="amount">{{ d.std_deviation|floatformat:0 }}</td>
                        {% endif %}
	                </tr>
	            {% endif %}
			{% endfor %}
        	<tr>
				<td><b>{% trans "Total" %}</b></td>
				<td class="amount {{ account.lossgain }}">{{ account.total|floatformat:2 }}</td>
				<td></td>
				{% if period == "year" %}
					<td class="amount {{ account.lossgain }}">{{ account.total|divide:monthly_average_divisor|floatformat:2 }}</td>
                    <td></td>
				{% endif %}
			</tr>
	    {% endfor %}

		{% if summary|length != 1 %}
			{% if summary|length != 0 %}
				<tr><td colspan="5">&nbsp;</td></tr>
			{% endif %}
    		<tr>
				<td><b>{% trans "Total" %}</b></td>
				<td class="amount {{ lossgain }}">{{ total|floatformat:2 }}</td>
				<td></td>
				{% if period == "year" %}
					<td class="amount {{ lossgain }}">{{ total|divide:monthly_average_divisor|floatformat:2 }}</td>
                    <td></td>
				{% endif %}
			</tr>
		{% endif %}
   	</table>

    {% if projected_transactions %}
        <p></p>

    	<div>
        	{% trans "Projected" %}: {{ projected_sum }}
        </div>

        <div>
            <a onClick="$('#projection_log').toggle();">{% trans "Details" %} <i class="fa fa-chevron-circle-down"></i></a>
		</div>

        <div id="projection_log" style="display:none;">
            {% include "tri_table/list.html" with table=projected_table%}
        </div>
    {% endif %}

	{% else %}
		<p>
			{% trans "No transactions for this period" %}
		</p>
	{% endif %}
    
{% endblock %}