{% load i18n %}{% load auth %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <title>Mammon{% if user.is_authenticated %} - {{ user }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"> 
        <script type="text/javascript" src="/jsi18n/"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>        <script type="text/javascript" src="/inline_edit.js"></script>
        <script type="text/javascript" src="/input_overlay.js"></script>
        <script type="text/javascript" src="/site-media2/jquery.inlinecomplete.js"></script>
        <script type="text/javascript" src="/site-media2/jquery.intoViewport.min.js"></script>
        <script type="text/javascript" src="/site-media2/custom.js"></script>
        <link media="screen" href="/mammon.css" type="text/css" rel="stylesheet" />
        <link media="screen" href="/input_overlay.css" type="text/css" rel="stylesheet" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        {% block extra_head %}{% endblock %}
    </head>
    <body onLoad="window.scrollTo(0,1)" id="{% block body_id %}{% endblock %}">
        <div id="main">
            <div id="header">
                {% if user.is_staff %}
                    <div id="header-util-links">
                        <ul id="utils-menu" class="menu">
                           <li><a href="/admin/">{% trans "Admin" %}</a></li>
                           <li><a href="/update_matching/">{% trans "Update matching" %}</a></li>
                        </ul>
                    </div>
                {% endif %}
                <div id="header-right">
                    {% if not user.is_anonymous %}
                        <a href="/add/" class="add-button"><i class="fa fa-plus-circle"></i> {% trans "Add transactions" %}</a>
                    {% endif %}
                </div>
                <h1 id="header-title" alt=""><a href="/">Mammon</a></h1>
                <ul id="global-menu" class="menu">
                    {% if user.is_authenticated %}
                        <li><a href="/">{% trans "Home" %}</a></li>
                        <li><a href="/summary/year/">{% trans "Year view" %}</a></li>
                        <li><a href="/summary/month/">{% trans "Month view" %}</a></li>
                        <li><a href="/history/">{% trans "Overview" %}</a></li>
                        <li><a href="/transactions/">{% trans "Transactions" %}</a></li>
                        <li><a href="/categories/">{% trans "Categories" %}</a></li>
                        <li><a href="/accounts/">{% trans "Accounts" %}</a></li>
                        <li><a href="/settings/">{% trans "Settings" %}</a></li>
                        <li><a id="id_menu_logout" href="/logout/">{% trans "Log out" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="body">
                {{ flatpage.content }}

                {% if user.is_authenticated %}
                {% else %}
                    {% curia_include "authentication/login_box.html" %}
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
        </div>
        {% block js_post_load %}
        {% endblock %}
    </body>
</html>