{% load auth %}
{% include "curia.css" %}

#utils-menu li {
    display: inline;
    padding: 0 0 0 10px;
    margin: 0;
}
#utils-menu a, #utils-menu span {
    font-size: 15px;
    text-decoration: none;
}

#id_navigation {
    font-size: 12px;
}

#id_navigation div h2 {
    font-size: 14px;
}

#id_navigation div a {
}

#header {
}

#header-title {
    line-height: 30px;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 5px;
}

#global-menu {
    border-bottom: 4px solid #18799b;
    padding: 7px;
}
#global-menu li {
    display: inline;
    padding: 0 15px 0 0;
    margin: 0;
}
#global-menu a {
    font-size: 16px;
    text-decoration: none;
}

#header-report-bug {
}

#main {
}

#header-util-links {
    text-align: right;
    float: left;
    position: absolute;
}

#header-right {
    float: right;
    position: absolute;
    text-align: right;
    right: 15px;
    top: 13px;
}

#header-report-bug {
    margin-bottom: 3px;
    margin-right: 5px;
}
#header-report-bug a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

/********/

body {
    font-family: Verdana,sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.button {
    background-image: none;
    border: 2px solid #999;
    padding: 2px 6px 2px 6px;
}

.button.warning {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: white;
}

#header .button {
    font-size: 16px;
    padding: 4px 15px;
}

#header {
    text-align: center;
    padding: 0;
    background: #f0f0f0;
    position: fixed;
    width: 100%;
}

#main {
}

#body {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 10px;
}

#body:first-child {
    text-align: left;
    display: table;
    margin: 15px auto;
    padding: 0 15px 15px;
}

table
{ 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h1, h2, h3, h4
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#header-util-links {
    padding: 5px 10px 5px 5px;
}

#header-right {
    padding-top: 10px;
}

#body-left, #body-right{
    width: auto;
}

.highlighted {
    background: #EEF;
}

table {
    background: #E7E7E7;
    border: 1px solid #AAA;
    border-spacing:1px;
}
td {
    background: white;
}

.amount {
    text-align: right;
    white-space:nowrap;
}

.loss {
    background: red;
    color: white;
}
.gain {
    background: green;
    color: white;
}
.time 
{
    white-space:nowrap;
}
textarea {
    width: 100%;
    height: 500px;
}
/*.category_period_unknown td {
    background: #FEE;                
}*/
.category_period_2_month td, .category_period_3_month td, .category_period_6_month td, .category_period_12_month td {
    background: #EEE;                
}

.category_period_1_month td {
    color: #AAA;
}

#year {
    width: 32px;
}

#month {
    width: 18px;
}

#login_box table, #login_box table td {
    width: auto;
    background: transparent;
    border: 0;
}

.form, .form td {
    background: transparent;
    border: 0;
}

textarea
{
    height: 150px;
}

th {
    text-align: right;
}

thead th {
    text-align: center;
    font-size: 12px;
}

#id_edit_details {
    display: none;
}

#id_menu_logout {
    opacity: 0.5;
}

.dialog {
    position: absolute;
    left: 0;
    top: 0;
    /*z-index = this.overlay.style.zIndex + 1;*/
}

/** PAGINATOR **/
.paginator
{
    text-align: center;
    clear: both;
    padding-bottom: 4px;
    padding-top: 4px;
}

.paginator .prev-na,
.paginator .next-na {
    padding: 2px;
    color: #d1d1ba;
}

.paginator .prev a, .paginator .next a {
    color: #000;
    padding: 2px;
    margin: 1px 3px;
}

.paginator .page a, .paginator .curr {
    padding: 2px;
    color: #000;
    margin: 1px 3px;
}

.paginator .curr { 
    background-color: #dfddce;
    color: #664;
    border: 1px solid #d1d1ba;
    font-weight: bold;
}

.paginator a:hover {
    color: #000;
    border: 1px solid #664;
    margin: 0 2px;
    text-decoration: none;
}

.content {
    width: 650px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

td.choice {
    text-align: center;
}

#id_format_choices {
    border: 0;
}

table td {
    padding-left: 5px;
    padding-right: 5px;
}

table td h2 {
    margin: 0;
}

#id_classification_bar {
    padding: 4px;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid gray;
}

#id_classification_bar > * {
    font-size: 15px;
    color: black;
}

#id_classification_bar input {
    width: 300px;
}

#id_classification_bar #id_next {
    position: fixed;
    bottom: 34px;
    left: 4px;
}

#id_classification_bar #id_prev {
    position: fixed;
    bottom: 4px;
    left: 4px;
}

#id_classification_bar_bottom_space {
    padding-bottom: 68px;
}

.hotkey {
    color: gray;
    padding-left: 5px;
}

.ac_results {
    background-color:white;
    border:1px solid #C5DBEC;
    overflow:hidden;
    padding:0;
    z-index:99999;
    position: fixed;
    top: 0;
    margin: 20px 0 0 0; /* The top margin defines the offset of textbox */
}

#id_row_marker_left {
    font-size: 24px;
    font-family: arial, sans-serif;
}

#transaction_list {
    margin-top: 10px;
    margin-bottom: 10px;
}

#id_classification_page #body, #id_classification_page #transaction_list tr td {
    background: #bdbdbd;
    color: #636363;
}

#id_classification_page #transaction_list tr.row_marker td {
    background: white;
    color: black;
}

#id_all_like_this_dialog {
    font-size: 30px;
}

#id_login {
    background: white;
}

#header-right .button {
    background: #18799b;
    border: 2px solid #0c5165;
    color: white;
}

#legend table, #legend td, #legend table {
    border: 0 transparent;
    background: transparent;
}

.start-to-end-time {
    font-size: 60%;
    opacity: 0.3;
}

