{% load i18n %}
{% blocktrans %}Welcome to Mammon! Let's get started. First you'll need to import your transaction history from your bank and set the latest date you receive your salary. In Sweden that's the 25:th. This date is used to cut the months into reasonable parts.{% endblocktrans %}

{% blocktrans %}Go to <a href="/settings/">Settings</a> to change the financial month start date.{% endblocktrans %}
{% blocktrans %}Go to <a href="/add/">Add Transactions</a> to add some data.{% endblocktrans %}
