{% extends base %}
{% load i18n %}{% load auth %}

{% block title  %}{{ _("Forgot your password?") }}{% endblock %}
{% block header %}{{ _("Forgot your password?") }}{% endblock %}

{% block content %}
    <h2>{{ _("Request new password") }}</h2>
	<form method="post" enctype="multipart/form-data">{% csrf_token %}
	    <table>
	    <tr><td colspan="2">{% blocktrans %}Please supply your e-mail address and we will send an e-mail with further instructions to you.{% endblocktrans %}</td></tr>
		{% include "form.html" %}
        <tr><td></td><td><input type="submit" value="{{ _("Send") }}"/></td></tr>
		</table>
	</form>
{% endblock %}
