{% extends base %}
{% load i18n %}{% load auth %}

{% block title %}{{ _("User agreement") }}{% endblock %}
{% block header %}{{ _("User agreement") }}{% endblock %}

{% block content %}

    <h3>Användaravtal.</h3>
	<p>Eldmyra.se drivs av Metheus (ek. för), och följande regler gäller för alla sidor under eldmyra.se. I texten benämns dessa sidor enbart som Eldmyra. Genom att bli medlem på Eldmyra så förbinder du dig till att följa dessa regler.</p>

	<h4>Allmänna Villkor</h4>

	<p>Som användare är du skyldig att uppge korrekta kontaktuppgifter, samt följa svensk lagstiftning. Länkar eller andra referenser till sidor med olagligt innehåll kommer att betraktas som ett regelbrott, likaså kedjebrev, trakasserier eller övrigt liknande beteende. Vid missbruk av ett konto kan detta konto inaktiveras, och vid misstanke om brott kan information lämnas ut till polis eller annan myndighet. Observera att vid användandet av funktioner på Eldmyra så får andra användare se vad du skriver eller laddar upp, du behåller dock själv alla rättigheterna till ditt material. För användandet av Eldmyra gäller även följande regler:</p>

	<p>Du får inte sprida, kopiera eller på annat sätt använda personlig information om andra användare utanför Eldmyra, såvida inte dessa användare godkänt detta.</p>

	<p>Du får inte ladda upp material är upphovsrättskyddat om du inte har tillstånd av ägaren av upphovsrätten. Du får inte heller ladda upp material som är virussmittat eller som på annat sätt bryter mot svensk lag.</p>

	<p>Du ansvarar själv för att se till att ditt lösenord är säkert, och du tar själv ansvar för vad som sker om någon annan får tag på ditt lösenord.</p>

	<p>Inaktiva konton kan tas bort för att spara plats, och vi förbehåller oss rätten att ta bort konton eller material som av någon anledning anses olämpligt.</p>

	<p>Om vi misstänker att du angett felaktiga uppgifter vid registreringen eller i inställningar kan ditt konto bli raderat. Detsamma gäller om du har flera konton på Eldmyra. Observera att du kan använda ett användarkonto på Eldmyra för att vara med i flera olika grupper, detta gör det även smidigare för dig att navigera mellan dessa grupper.</p>

	<h4>Användaruppgifter</h4>

	<p>Metheus (ek. för) är personuppgiftsansvarig. Vid frågor kontakta support via eldmyra.se.</p>

	<p>Vi prioriterar skyddet av din personliga information och följer de lagar som reglerar hanteringen av dessa, som exempelvis personuppgiftslagen. Endast personer med särskild behörighet har tillgång till informationen, och uppgifterna är nödvändiga för att du ska kunna använda Eldmyra. Informationen sparas i vår databas och kommer inte säljas vidare till någon tredje part. Den e-postadress med vilken du registrerat ditt konto kommer inte visas för andra användare.</p>

	<p>Genom att godkänna detta användaravtal godkänner du också att vi sparar och hanterar dina personuppgifter på ovanstående sätt.</p>

	<h4>Övrigt</h4>

	<p>Utöver de bestämmelser som nämnts ovan så kan administratörerna för grupper som du valt att bli medlem i sätta ytterligare regler. Det är varje användares ansvar att se till att han eller hon känner till dessa regler och följer dem. Missbruk kan leda till avstängning från gruppen i fråga, eller i grova fall hela Eldmyra. Kontakta administratören för gruppen i fråga om du är osäker på vilka regler som gäller där. Observera att alla regler i detta dokument gäller för alla grupper på Eldmyra.</p>

	<p>Vi förbehåller oss rätten att ändra på dessa användaravtal om vi anser att det finns anledning till att göra det. Om ändringar är av sådan karaktär att användandet av Eldmyra förändras på ett betydande sätt kommer detta att meddelas till användarna.</p>

{% endblock %}